#Can override these defaults per-section.
[DEFAULT]
#Twisted's default is 30 seconds.
timeout=120
port=6697
channel=#a-bridged-channel
nick=Bot
##Can change to allow more specialized behavior.
mode=Default
##Response sent when addressed with <nickname>: or privmsg'd.
info=This is a relay bot.
username=RelayBot
realname=Relay P. Botterson
heartbeat=90

[flowdock]
host=irc.flowdock.com
channel=#xxxx
nick=Bot
mode=NickServ
info=This is a relay bot between IRC and Flowdock
username=xxxx@xxxx.com
nickServPassword=xxxxx

[hackint]
host=irc.hackint.org
channel=#munichmakerlab
nick=Bot

